@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.dark > * > svg, path {
    fill: white;
}
.svg-image > svg {
    width: 30px;
    height: 30px;
}